*{
    box-sizing: border-box;
}
/*... NAVIGATION BAR ...*/
.container{
    padding: 10px 10%;
}
img{
    height: 50px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 900;
    position: relative;
}
nav ul li a:after{
    content: "";
    width: 0;
    height: 3px;
    background: #FF0000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}
/*... Search Bar ...*/
.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 25px;
    background: #f6f6f6;
}
.input-type{
    padding-left: 10px;
    margin-left: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
}

